.cards-row-pagination {
  display: flex;
  justify-content: space-between;
  align-content: center;
  margin-bottom: 0.5rem;
  font-family: "Roboto", sans-serif;
}

/* .cards-row {
  overflow: auto;
  max-height: 480px;
} */
