*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #e7e7e7;
}

h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 2rem;
  letter-spacing: 6px;
  text-align: center;
  margin: 0;
}

h1.section-title {
  background: linear-gradient(#0000 0%, #0000 49%, #000 50%, #000 51%, #0000 52%, #0000 100%);
}

h1 > span {
  color: #fff;
  padding: 2px 15px;
  border: 1px solid #0a0a0a;
  border-radius: 0.3rem !important;
  background-color: #303030;
  box-shadow: 4px 4px 0px 0px #a3a3a3;
}

.btn-dark {
  background-color: #303030;
}
