.counter-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 5.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.counter-menu a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.counter-menu a:active {
  color: #1e2125;
  background-color: #e9ecef;
}

.remove-dropdown-element {
  color: #808080b4;
}

.remove-dropdown-element:hover {
  color: red;
}
