.card {
  flex-grow: 1;
  border: 0;
  background-color: transparent;
  box-shadow: 4px 4px 4px 0px #c5c5c5;
}

.img-container {
  width: 26%;
  min-width: 65px;
  max-height: 100px;
  min-height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 0;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}

.img-container > img {
  display: contents;
  max-height: inherit;
  object-fit: cover;
  object-position: top center;
}

.card > i.zoom {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #e7e7e7;
  opacity: 0.4;
  cursor: pointer;
}

.card > i.zoom:hover {
  opacity: 1;
}

.img-container > img.zoomed {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: auto;
  transform: translate(-50%, -50%) scale(2.3);
  box-shadow: 2px 2px 4px 0px #3030304d;
  border-radius: 8px;
  opacity: 1;
  object-fit: contain;
  z-index: 1;
}

.card-body {
  background-color: #303030;
}

.card-body::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0.05;
  background-image: url(https://static-mh.content.disney.io/starwars/assets/shared/decal-a67af2e7d567.png);
  background-size: 300%;
  background-repeat: no-repeat;
  left: 30%;
  bottom: 0px;
}

.card-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.95rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  line-break: auto;
}

.like,
.like > svg,
.bookmark,
.bookmark > svg {
  color: #303030;
}

.like {
  background-color: #ffc107;
}

.btn-green {
  border-color: #84ee6a;
  color: #84ee6a;
  border: 0;
}

.btn-green:hover {
  background-color: #84ee6a;
  border-color: #84ee6a;
}

.bookmark {
  background-color: #84ee6a;
}

/* -- MEDIA QUERIES -- */
/* Lg resolutions */
@media (min-width: 992px) {
  .card {
    max-width: calc(25% - 0.5rem); /* 4 * 25% = 100;  0.5 = row gap */
  }
}

/* Md resolutions */
@media (min-width: 768px) {
  .img-container {
    width: 100%;
    max-height: 200px;
    min-height: 200px;
    border-radius: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .card-body {
    border-top: 2px solid #e7e7e7;
  }
}
