.counter-button {
  min-width: 5.5rem;
}

.total-number {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.counter-menu {
  font-family: "Poppins", sans-serif;
  padding: 0;
}

.counter-menu a {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
}

.counter-menu a:active {
  color: #1e2125;
  background-color: #e9ecef;
}

.counter-menu a i {
  color: #808080b4;
}

.counter-menu a i:hover {
  color: red;
}
